@font-face{
    src: url('fonts/dodge/DODGE.ttf');
    font-family: dodge;
}

@font-face{
    src: url('fonts/xirod/xirod.ttf');
    font-family: xirod;
}

html, body{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container{
    display: none;
}

.layers{
    width: 100%;
    height: 100%; 
}

/**layer 1**/
.layer1
{
    z-index: 1;
    background-color: white;
    position: absolute;
}

/*scroll*/
/*start*/
@keyframes infiniscroll
{
    from
    {
        top: 0%;
    }
    to
    {
        top: 100%;
    }
}
/*end*/
/*scroll*/

.above-columns{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}

.contact-form-layer{
    width: 100%;
    position: absolute;
    top: 25%;
    height: 100%;
    background-color: transparent;
    box-sizing: border-box;
    padding: 5%;
}

.form {

}


.below-quote{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}

.below-quote > span{
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50%;
    text-align: center;
    bottom: 32%;
    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
    font-size: smaller;
}

.columns-container
{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
}

.columns
{
    width: 19.5%;
    height: 100%;
    border: none;
    border-right: 1px solid rgba(0, 0, 0, 0);
    float: left;
    padding: 0;
    position: relative;
    z-index: 10;
}

.columns:nth-child(1), .columns:nth-child(4){
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.track-lines
{
    position: absolute;
    top: 0;
    height: 45px;
    width: 0px;
    z-index: 3;
    opacity: .75;
}

.line-8
{
    animation: infiniscroll 2.5s infinite alternate -1.8s;
    border: solid 5px gold;
}

.line-7
{
    animation: infiniscroll 2.5s infinite reverse -3.7s;
    border: solid 1px rgba(255, 72, 0, 0);
}

.line-6
{
    animation: infiniscroll 2.3s infinite  -2.5s;
    border: solid 1px rgb(0, 255, 98, 0);
}

.line-5
{
    animation: infiniscroll linear 6s infinite reverse -8s;
    border: solid 1px rgb(0, 72, 255);
}

.line-4
{
    animation: infiniscroll 2.5s infinite -1s;
    border: solid 1px rgb(255, 0, 255, 0);
}

.line-3
{
    animation: infiniscroll 2s infinite alternate -3s;
    border: solid 1px rgba(0, 128, 0, 0);
}

.line-2
{
    animation: infiniscroll linear 6s infinite -5s;
    border: 1px solid rgb(255, 0, 255);
}

.line-1
{
    animation: infiniscroll 2.7s infinite alternate;
    animation-delay: -6s;
    border: 1px solid rgba(255, 0, 0, 0);
}

/**layer 2**/
.layer2
{
    z-index: 20;
    display: none;
}


/**layer 3**/
.layer3
{
    z-index: 30;
    background-color: transparent;
    position: absolute;
}

.mobile-header{
    width: 100%;
    height: 7%;
    z-index: 4;
    background-color: black;
    position: fixed;
    top: 0;
}

.mobile-footer{
    width: 100%;
    background-color: black;
    padding: 2.5%;
    bottom: 0;
}

.mobile-footer > span{
    margin: 0 auto;
    font-size: smaller;
    padding: 2%;
    color: white;
    width: 50%;
}

.mobile-header > nav{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.logo
{
    display: block;
    position: absolute;
    top: 10.0%;
    margin-left: 40%;
    margin-right: 40%;
}

#mobile-header-logo
{
    height: 55%;
    width: 55%;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 0%;
    bottom: 0%;
}


.menu-btn
{
    display: block;
    position: absolute;
    top: 27.2%;
    right: 5%;
    cursor: pointer;
    padding: 0;
    width: 10%;
    background-color: rgba(0, 0, 0, 0.0);
    padding-bottom: 0px;
    transition: ease-in .5s;
    z-index: 33;
}


.menu-btn > ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-btn > ul > li
{
    margin-bottom: 7px;
    padding: 0;
    width: 80%;
}


.moving-bars
{
    height: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: ease-in .5s;
}

.menu-btn > ul > li > span > b
{
    font-family: labtop;
    font-size: 2vw;
    color: white;
    display: block;
    position: relative;
    width: 50%;
    top: 5px;
    left: 0;
    transition: ease-in .7s;
}

.menu-btn:hover > ul > li > span > b
{
    color: rgb(0, 0, 0);
    transition: ease-in .7s;
}

.bar-one
{
    width: 75%;
    transition: ease-in .5s;
}

.bar-two
{
    width: 55%;
    transition: ease-in .5s;
}

.bar-three
{
    width: 65%;
    transition: ease-in .5s;
}

/**menu animation**/

/**start**/

.menu-btn:hover .bar-one
{
    animation: bars-1 .8s;
    animation-delay: .7s;
    transition: ease-in 1s;
    border-color: white;
}

@keyframes bars-1
{
    0%
    {
        width: 60%;
    }
    20%
    {
        width: 45%;
    }
    40%
    {
        width: 50%;
    }
    60%
    {
        width: 70%;
    }
    80%
    {
        width: 35%;
    }
    100%
    {
        width: 60%;
    }
}

.menu-btn:hover .bar-two
{
    animation: bars-2 1s;
    animation-delay: .7s;
    transition: ease-in 1s;
    border-color: white;
}

@keyframes bars-2
{
    0%
    {
        width: 40%;
    }
    25%
    {
        width: 65%;
    }
    50%
    {
        width: 20%;
    }
    70%
    {
        width: 50%;
    }
    100%
    {
        width: 40%;
    }
}

.menu-btn:hover .bar-three
{
    animation: bars-3 .8s;
    animation-delay: .7s;
    transition: ease-in 1s;
    border-color: white;
}

@keyframes bars-3
{
    0%
    {
        width: 50%;
    }
    20%
    {
        width: 25%;
    }
    40%
    {
        width: 45%;
    }
    60%
    {
        width: 35%;
    }
    80%
    {
        width: 50%;
    }
    100%
    {
        width: 50%;
    }
}

/**end**/
/**menu animation**/

.mobile-menu{
    width: 100%;
    min-height: 100%;
    position: fixed;
    background-color: teal;
    z-index: 35;
    display: none;
}

.mobile-menu-top, .mobile-menu-second, .mobile-menu-third, .mobile-menu-bottom{
    width: 100%;
    position: absolute;
}

.mobile-menu-top, .mobile-menu-bottom{
    height: 10%;
}

.mobile-menu-bottom{
    bottom: 0;
}

.mobile-menu-second{
    height: 30%;
    top: 10%;
}

.mobile-menu-third{
    height: 50%;
    top: 40%;
}

.mobile-menu-top > img {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 8%;
    height: 38%;
    cursor: pointer;
    transition: linear 300ms;
    box-sizing: border-box;
}

/*
.mobile-menu-top > img:hover {
    transform: rotateZ(180deg);
    transition: linear 300ms;
}
*/

.mobile-menu-second > ul {
    list-style: none;
    position: absolute;
    left: 0;
    box-sizing: border-box;
    width: 100%;
}

.mobile-menu-second > ul > li{
    padding: 2%;
    box-sizing: border-box;
    position: relative;
}

.mobile-menu-second > ul li > a{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
    text-decoration: none;
    overflow: hidden;
    width: 10%;
    height: 10%;
    transition: 300ms;
}

.mobile-menu-second > ul li > a > img {
    width: 100%;
    height: 100%;
    transition: 300ms;
}

.mobile-menu-second > ul li > a > img:hover ~ .link-text{
    transition: 300ms;
    width: 20%;
}

.mobile-menu-second > ul li a > .link-text {
    position: absolute;
    top: 38%;
    left: 12%;
    width: 0%;
    overflow: hidden;
    transition: 300ms;
}

.mobile-menu-second > ul li a > .link-text:nth-child(2) {
    position: absolute;
    top: 39%;
    left: 12%;
    width: 0%;
    overflow: hidden;
    transition: 300ms;
}

.mobile-menu-second > ul li a > .link-text:nth-child(3) {
    position: absolute;
    top: 39%;
    left: 12%;
    width: 0%;
    overflow: hidden;
    transition: 300ms;
}

.mobile-menu-third > ul {
    position: absolute;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    bottom: 20%;
    margin: 0;
    padding: 0;
    list-style: none;
    right: 0;
}

.mobile-menu-third > ul > li {
    width: 100%;
    padding: 10%;
    position: relative;
    box-sizing: border-box;
}

.mobile-menu-third > ul > li > a {
    width: 100%;
    text-decoration: none;
    font-family: dodge, 'Myraiad Pro', Arial, Helvetica, sans-serif;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.mobile-menu-third > ul > li > a > span {
    color: white;
    text-decoration: none;
    font-size: x-large;
    text-align: left;
    position: absolute; 
    left: 40%;
    transition: 300ms;
}

.mobile-menu-third > ul > li > a > div {
    width: 10%;
    height: 0;
    border: none;
    border-top: rgb(255, 255, 255) solid 2px;
    border-bottom: rgb(255, 255, 255) solid 2px;
    position: absolute;
    top: 68.5%;
    right: 63%;
    transition: 300ms;
}


.mobile-menu-third > ul > li > a:hover > div {
    transition: 300ms;
    width: 25%;
    transform-origin: right;
    border-top: rgb(0, 255, 255) solid 3px;
    border-bottom: rgb(0, 255, 255) solid 3px;
}

.mobile-menu-third > ul > li > a:hover > span {
    color: rgb(0, 255, 255)
}

.mobile-menu-bottom {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5%;
}

.mobile-menu-bottom > a {
    position: absolute;
    right: 5%;
    width: 41%;
    color: white;
    font-size: medium;
    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    padding: 2%; 
    text-decoration: none;
    transition: 300ms;
}

.mobile-menu-bottom > a:hover{
    transition: 300ms;
    color: rgb(0, 255, 255);
}

.mobile-menu-bottom > a > img{
    width: 12%;
    height: 52%;
    position: absolute;
    right: 98%;
}


@media only screen and (min-width: 320px) {
    
}

@media only screen and (min-width: 375px) {
    
}

@media only screen and (min-width: 375px) and (min-height: 800px){
    
}

@media only screen and (min-width: 400px) {
    
}

@media only screen and (min-width: 425px) {
    
}

@media only screen and (min-width: 487px) {
    
}

@media only screen and (min-width: 487px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .logo
    {
        display: block;
        position: absolute;
        top: 1.0%;
        margin-left: 40%;
        margin-right: 40%;
    }

    #mobile-header-logo
    {
        height: 40%;
        width: 40%;
        display: block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        top: 0%;
        bottom: 0%;
    }

    .menu-btn{
        width: 8%;
    }

    .columns:nth-child(1), .columns:nth-child(4){
        border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
} 


@media only screen and (min-width: 640px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu-btn{
        top: 33%;
    }

    .logo{
        top: 15%;
    }

    .moving-bars
    {
        border-top: 2px solid white;
        border-bottom: 2px solid white;
    }

    .columns:nth-child(1), .columns:nth-child(4){
        border-right: 1px solid rgba(0, 0, 0, 0.3);
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .layer1, .layer3{
        display: none;
    }

    .layer2{
        background-color: white;
        position: absolute;
        z-index: 20;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    .main-layer{
        z-index: 21;
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .col-1{
        width: 60%;
    }

    .col-2{
        width: 25%;
    }

    .text-container{
        width: 100%; 
        height: 90%;
        margin: 0 auto;
        display: flex;
    }

    .small-line{
        height: 15%;
        width: 20%;
        border-left: solid black 2px;
        position: absolute;
        z-index: 21;
    }

    .line-one{
        top: 23%;
        right: 9%;
    }

    .line-one .circle{
        width: .8vh;
        height: .8vh;
        border-radius: 50%;
        background-color: rgb(0, 255, 255);
        position: absolute;
        left: -4px;
        z-index: 22;
        animation: infiniscroll .4s infinite linear alternate -2s;
    }

    .line-two{
        top: 28%;
        right: 15%;
    }

    .line-two > .circle {
        width: .8vh;
        height: .8vh;
        border-radius: 50%;
        background-color: rgb(255, 0, 0);
        position: absolute;
        left: -4px;
        z-index: 22;
        animation: infiniscroll .5s infinite linear alternate-reverse -3s;
    }

    .line-three{
        top: 48%;
        right: 12%;
    }

    .line-three > .circle {
        width: .8vh;
        height: .8vh;
        border-radius: 50%;
        background-color: rgb(0, 255, 0);
        position: absolute;
        left: -4px;
        z-index: 22;
        animation: infiniscroll .4s infinite linear alternate;
    }

    .line-four{
        top: 40%;
        right: 5%;
    }

    .line-four > .circle {
        width: .8vh;
        height: .8vh;
        border-radius: 50%;
        background-color: rgb(162, 0, 255);
        position: absolute;
        left: -4px;
        z-index: 22;
        animation: infiniscroll .7s infinite linear alternate -1s;
    }

    .line-five{
        top: 43%;
        right: 20%;
    }

    .line-five > .circle {
        width: .8vh;
        height: .8vh;
        border-radius: 50%;
        background-color: rgb(255, 94, 0);
        position: absolute;
        left: -4px;
        z-index: 22;
        animation: infiniscroll .4s infinite linear alternate-reverse -2s;
    }

    .line-six{
        top: 28%;
        right: 26%;
    }

    .line-six > .circle {
        width: .8vh;
        height: .8vh;
        border-radius: 50%;
        background-color: rgb(255, 251, 0);
        position: absolute;
        left: -4px;
        z-index: 22;
        animation: infiniscroll .4s infinite linear alternate-reverse -3s;
    }

    .line-seven{
        top: 14%;
        right: 20%;
    }

    .line-seven > .circle {
        width: .8vh;
        height: .8vh;
        border-radius: 50%;
        background-color: rgb(0, 153, 8);
        position: absolute;
        left: -4px;
        z-index: 22;
        animation: infiniscroll .7s infinite linear alternate -2s;
    }

    .line-eight{
        top: 48%;
        right: 30%;
    }

    .line-eight > .circle {
        width: .8vh;
        height: .8vh;
        border-radius: 50%;
        background-color: rgb(0, 214, 214);
        position: absolute;
        left: -4px;
        z-index: 22;
        animation: infiniscroll .4s infinite linear alternate-reverse -1s;
    }

    .form{
        width: 100%;
        height: 100%;
        padding: 5%;
        box-sizing: border-box;
    }

    .contactform{
        border-left: solid 10px black;
        padding: 5%;
        box-sizing: border-box;
        font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
        width: 100%;
        height: 100%;
    }

    .contactform table{
        width: 80%;
        height: 80%;
    }

    .contactform label{
        font-weight: bold;
        font-size: larger;
    }

    .tableBody tr{
        width: 100%;
    }

    .tableBody tr td{
        padding: 1%;
    }

    .tableBody tr td:nth-child(1){
        width: 25%;
    }

    .tableBody tr td:nth-child(2){
        width: 75%;
        padding-right: 8%;
    }

    .tableBody tr td input {
        padding: 5%;
        border: 2px solid black;
        width: 90%;
    }

    .tableBody tr td textarea {
        padding: 5px;
        border: 2px solid black;
        resize: none;
        width: 100%;
    }

    .submitBTN{
        width: 20%;
        color: white;
        background-color: black;
        padding: 1%;
        cursor: pointer;
        transition: 300ms;
        font-size: 1.95vh;
    }

    .submitBTN:hover{
        transition: 300ms;
        background-color: rgb(0, 255, 255);
        color: black;
        border-color: rgb(0, 255, 255);
    }

    .submitBTN:nth-child(2){
        margin-left: 5%;
    }

    .col-3{
        width: 15%;
        z-index: 23;
    }

    .desktop-menu-btn
    {
        display: flex;
        flex-direction: row;
        position: absolute;
        top: 5.2%;
        right: 7%;
        cursor: pointer;
        padding: 0;
        width: 5%;
        background-color: rgba(0, 0, 0, 0.0);
        padding-bottom: 0px;
        transition: ease-in .5s;
        z-index: 24;
    }


    .desktop-menu-btn ul:first-child
    {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 70%;
        transform: rotateY(180deg);
        margin-right: 8%;
    }

    .desktop-menu-btn ul:nth-child(2)
    {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 30%;
    }

    .desktop-menu-btn ul > li
    {
        margin-bottom: 7px;
        padding: 0;
        width: 100%;
    }

    .desktop-menu-btn ul:nth-child(2) > li{
        text-align: center;
        font-size: 1.5vw;
        font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
    }


    .desktop-moving-bars
    {
        height: 0;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        transition: ease-in .5s;
    }

   

    .desktop-bar-one
    {
        width: 75%;
        transition: ease-in .5s;
    }

    .desktop-bar-two
    {
        width: 55%;
        transition: ease-in .5s;
    }

    .desktop-bar-three
    {
        width: 65%;
        transition: ease-in .5s;
    }

    /**menu animation**/

    /**start**/

    .desktop-menu-btn:hover .desktop-bar-one
    {
        animation: bars-1 .8s;
        animation-delay: .2s;
        transition: ease-in 1s;
        border-color: black;
    }

    @keyframes bars-1
    {
        0%
        {
            width: 60%;
        }
        20%
        {
            width: 70%;
        }
        40%
        {
            width: 50%;
        }
        60%
        {
            width: 70%;
        }
        80%
        {
            width: 35%;
        }
        100%
        {
            width: 75%;
        }
    }

    .desktop-menu-btn:hover .desktop-bar-two
    {
        animation: bars-2 1s;
        animation-delay: .2s;
        transition: ease-in 1s;
        border-color: black;
    }

    @keyframes bars-2
    {
        0%
        {
            width: 40%;
        }
        25%
        {
            width: 25%;
        }
        50%
        {
            width: 50%;
        }
        70%
        {
            width: 20%;
        }
        100%
        {
            width: 55%;
        }
    }

    .desktop-menu-btn:hover .desktop-bar-three
    {
        animation: bars-3 .8s;
        animation-delay: .2s;
        transition: ease-in 1s;
        border-color: black;
    }

    @keyframes bars-3
    {
        0%
        {
            width: 50%;
        }
        20%
        {
            width: 60%;
        }
        40%
        {
            width: 45%;
        }
        60%
        {
            width: 50%;
        }
        80%
        {
            width: 35%;
        }
        100%
        {
            width: 65%;
        }
    }

    /**end**/
    /**menu animation**/

    .menu{
        z-index: 26;
        width: 40%;
        height: 100%;
        position: absolute;
        background-color: teal;
        right: -100%;
        transition: linear 300ms;
        display: flex;
        flex-direction: column;
    }

    .menu-top, .menu-second, .menu-third, .menu-bottom{
        width: 100%;
        position: absolute;
    }

    .menu-top, .menu-bottom{
        height: 10%;
    }

    .menu-bottom{
        bottom: 0;
    }

    .menu-second{
        height: 30%;
        top: 10%;
    }

    .menu-third{
        height: 50%;
        top: 40%;
    }

    .menu-top > img {
        position: absolute;
        top: 30%;
        right: 10%;
        width: 7%;
        height: 38%;
        cursor: pointer;
        transition: linear 300ms;
        box-sizing: border-box;
    }

    /*
    .menu-top > img:hover {
        transform: rotateZ(180deg);
        transition: linear 300ms;
    }
    */

    .menu-second > ul {
        list-style: none;
        position: absolute;
        left: 0;
        box-sizing: border-box;
        width: 100%;
    }

    .menu-second > ul > li{
        padding: 2%;
        box-sizing: border-box;
        position: relative;
    }

    .menu-second > ul li > a{
        display: flex;
        flex-direction: row;
        color: white;
        font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
        text-decoration: none;
        overflow: hidden;
        width: 8%;
        height: 8%;
        transition: 300ms;
    }

    .menu-second > ul li > a > img {
        width: 100%;
        height: 100%;
        transition: 300ms;
    }

    .menu-second > ul li > a > img:hover ~ .link-text{
        transition: 300ms;
        width: 20%;
    }

    .menu-second > ul li a > .link-text {
        position: absolute;
        top: 38%;
        left: 12%;
        width: 0%;
        overflow: hidden;
        transition: 300ms;
    }

    .menu-second > ul li a > .link-text:nth-child(2) {
        position: absolute;
        top: 39%;
        left: 12%;
        width: 0%;
        overflow: hidden;
        transition: 300ms;
    }

    .menu-second > ul li a > .link-text:nth-child(3) {
        position: absolute;
        top: 39%;
        left: 12%;
        width: 0%;
        overflow: hidden;
        transition: 300ms;
    }

    .menu-third > ul {
        position: absolute;
        width: 100%;
        height: 80%;
        box-sizing: border-box;
        bottom: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        right: 0;
    }

    .menu-third > ul > li {
        width: 100%;
        padding: 5%;
        position: relative;
        box-sizing: border-box;
    }

    .menu-third > ul > li > a {
        width: 100%;
        text-decoration: none;
        font-family: dodge, 'Myraiad Pro', Arial, Helvetica, sans-serif;
        text-align: left;
        display: flex;
        flex-direction: row;
    }

    .menu-third > ul > li > a > span {
        color: white;
        text-decoration: none;
        font-size: xx-large;
        text-align: left;
        position: absolute; 
        left: 50%;
        transition: 300ms;
    }

    .menu-third > ul > li > a > div {
        width: 10%;
        height: 0;
        border: none;
        border-top: rgb(255, 255, 255) solid 3px;
        border-bottom: rgb(255, 255, 255) solid 3px;
        position: absolute;
        top: 84.5%;
        right: 53%;
        transition: 300ms;
    }


    .menu-third > ul > li > a:hover > div {
        transition: 300ms;
        width: 25%;
        transform-origin: right;
        border-top: rgb(0, 255, 255) solid 3px;
        border-bottom: rgb(0, 255, 255) solid 3px;
    }

    .menu-third > ul > li > a:hover > span {
        color: rgb(0, 255, 255)
    }

    .menu-bottom {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        padding: 5%;
    }

    .menu-bottom > a {
        position: absolute;
        right: 5%;
        width: 31%;
        color: white;
        font-size: medium;
        font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        padding: 2%; 
        text-decoration: none;
        transition: 300ms;
    }

    .menu-bottom > a:hover{
        transition: 300ms;
        color: rgb(0, 255, 255);
    }

    .menu-bottom > a > img{
        width: 12%;
        height: 52%;
        position: absolute;
        right: 94%;
    }

    .nextPage{
        width: 100%;
        position: absolute;
        top: 40%;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        height: 5%;
        padding: 1%;
        box-sizing: border-box;
        z-index: 24;
    }

    .nextPage:hover{
        cursor: pointer;
    }

    .nextPage > a{
        position: absolute;
        width: 100%;
        text-decoration: none;
        display: flex;
        flex-direction: row;
    }

    .nextPage:hover > a > div{
        cursor: pointer;
        width: 6%;
        left: 6%;
        transition: 300ms;
    }

    .nextPage > a > span{
        color: rgb(0, 160, 160);
        font-size: medium;
        position: absolute;
    }

    .nextPage > a > div{
        width: 5%;
        height: 0;
        border: none;
        border-top: rgb(0, 160, 160) solid 1px;
        border-bottom: rgb(0, 160, 160) solid 1px;
        top: 8px;
        left: 5%;
        position: absolute;
        transition: 300ms;
    }
    
} 

@media only screen and (min-width: 1024px) {
    .nextPage > a > div {
        left: 6%;
    }

    .nextPage > a:hover > div {
        left: 7%;
    }

    .menu-third > ul
    {
        right: 20%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .menu-top > img {
        width: 7%;
        height: 42%;
    }
    
    .nextPage > a > div {
        left: 5%;
    }

    .nextPage > a:hover > div {
        left: 6%;
    }

    .menu-third > ul
    {
        right: 5%;
    }
}


@media only screen and (min-width: 1440px) {
    .desktop-monitor{
        width: 70%;
        left: 3%;
    }
}

@media only screen and (min-width: 2560px) {
    .desktop-menu-btn ul > li
    {
        margin-bottom: 17px;
        padding: 0;
        width: 100%;
    }

    .menu-third > ul > li > a > div{
        top: 70%;
    }

    .menu-top > img {
        width: 8%;
        height: 60%;
    }

    .menu-bottom > a > img {
        right: 97%;
        top: 27%;
    }
}

@media only screen and (min-width: 2560px) and (min-height: 1440px){
    
}

@media only screen and (min-width: 2560px) and (min-height: 1600px){
    
}